<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Sign up form
      </h3>
    </div>
    <div class="panel-body">
      Please enter your information if you wish to buy gifts for this person.
      <table class="table table-bordered">
        <thead>
          <tr><th>#</th><th>First Name</th><th>Age</th><th>Gender</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>{{recipient.code}}</td>
            <td>{{recipient.name}}</td>
            <td>{{recipient.age}}</td>
            <td>{{recipient.gender}}</td>
          </tr>
        </tbody>
      </table>
      <form name="myForm" role="form">
        <div class="control-group form-group" ng-class="{error: myForm.name.$invalid}">
          <label for="name">My Name</label>
          <input class="form-control" type="text" name="name" ng-model="recipient.donor.name" required>
          <span ng-show="myForm.name.$error.required" class="help-inline">
              Required</span>
        </div>
       
        <div class="control-group  form-group" ng-class="{error: myForm.phone.$invalid}">
          <label for="phone">Telephone</label>
          <input class="form-control" type="tel" name="phone" ng-model="recipient.donor.phone" required>
          <span ng-show="myForm.phone.$error.required" class="help-inline">
              Required</span>
        </div>
       
        <div class="control-group form-group" ng-class="{error: myForm.email.$invalid}">
          <label for="email">E-mail</label>
          <input class="form-control" type="email" name="email" ng-model="recipient.donor.email" required>
          <span ng-show="myForm.email.$error.required" class="help-inline">
              Required</span>
          <span ng-show="myForm.email.$error.email" class="help-inline">
              Not an email address</span>
        </div>
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="addDonor()" ng-disabled="myForm.$invalid"
                class="btn btn-primary">Signup</button>
      </form>
    </div>
  </div>
</div>